
header{
    background:tomato;
    margin:10px;
    padding:20px;
}

/* 자식, 하위 요소들을 해당 태그와 띄어쓰기로 지정 가능 */
header nav{

}

header nav ul{
    /* 리스트 항목들 수평화 */
    display:flex;
}

header nav ul li{
    /* 리스트 항목 스타일 미지정 */
    list-style: none;
    /* 항목 요소간 일정 간격 */
    margin:10px;

}

/* section의 부모 이기에 상단 작성 */
main{
    /* section, aside를 수평화 */
    display:flex;
}

section{
    /* 좌측부터 표시 영역 비율 */
    width:70%;
    background:tomato;
    margin:10px;
    padding:10px;
    /* 패딩으로 인한 박스 사이즈 증가를 조정 */
    box-sizing:border-box;

}

section h1{

}

/* article 태그는 독립성 보장을 위해 자식 및 하위 요소 적으로 접근 하는 것이 아니라 개별 지정 */
article{
    background:yellowgreen;
    margin-bottom:10px;
    padding:10px;
}

article h2{

}

article p{

}

/* section 옆의 30% 영역에 삽입 */
aside{
    width:30%;
    background:tomato;
    margin:10px;
    padding:10px;
    box-sizing:border-box;
}

footer{
    background:tomato;
    margin:10px;
    padding:10px;
}

/* a 태그는 인라인 요소이기에 수직적 표출을 위해서면 블록 요소로 처리 */
footer address a{
    display:block;
}


